In [1]:
import secrets
secrets.token_hex(16)

'611db7bc16337ab41d6e55198385a38e'

# Import

In [1]:
import psycopg2
import os
from dotenv import load_dotenv
import pandas as pd

# Load environment variables
port=5432
def get_db_connection():
    """Create and return a database connection"""
    try:
        conn = psycopg2.connect(
            host=os.getenv('DB_HOST', 'localhost'),
            database=os.getenv('DB_NAME', 'jadwapla_db'),
            user=os.getenv('DB_USER', 'postgres'),
            password=os.getenv('DB_PASSWORD', 'jadwaplan'),
            port=os.getenv('DB_PORT', '5432')
        )
        print("‚úÖ Database connected successfully!")
        return conn
    except Exception as e:
        print(f"‚ùå Database connection failed: {e}")
        return None

# Test connection
conn = get_db_connection()

‚úÖ Database connected successfully!

In [2]:
def run_query(query, params=None, fetch=True):
    """Run a SQL query and return results"""
    try:
        with conn.cursor() as cur:
            cur.execute(query, params or ())
            if fetch:
                if query.strip().upper().startswith('SELECT'):
                    columns = [desc[0] for desc in cur.description]
                    results = cur.fetchall()
                    return columns, results
                else:
                    conn.commit()
                    return f"Query executed successfully. Rows affected: {cur.rowcount}"
            else:
                conn.commit()
                return "Query executed successfully"
    except Exception as e:
        conn.rollback()
        return f"Error: {e}"

def query_to_dataframe(query, params=None):
    """Run query and return as pandas DataFrame"""
    columns, results = run_query(query, params)
    return pd.DataFrame(results, columns=columns)

def show_tables():
    """Show all tables in the database"""
    query = """
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
    ORDER BY table_name;
    """
    return query_to_dataframe(query)

In [6]:
query_to_dataframe('select * from buz_export_plan').columns

Index(['bplan_id', 'client_avatar', 'full_name', 'client_gender',
       'client_profile', 'client_experiences', 'client_partners',
       'client_expenses', 'client_employed', 'side_business',
       'business_profile', 'buz_staff', 'buz_resource', 'business_premises',
       'market_analysis', 'buz_suppliers', 'buz_production',
       'enhance_production', 'buz_distribution', 'customer_support',
       'requested_fund', 'feasibility', 'complete_client_profile',
       'complete_business_profile', 'complete_business_premises',
       'complete_market_analysis', 'complete_competitors',
       'complete_operations_plan', 'complete_requested_fund',
       'complete_feasibility', 'source_of_funding', 'financial_history',
       'mission', 'vision'],
      dtype='object')

# delete bplan

In [11]:
q='select * from bplan'
query_to_dataframe(q)

,bplan_id,name,email,industry,buz_sector,buz_subsector,buz_currency,creation_date,status,completion,complete_client_profile,complete_business_profile,complete_business_premises,complete_market_analysis,complete_competitors,complete_operations_plan,complete_requested_fund,complete_feasibility,user_id
0,7,aaaa,boss@email.com,,,,USD,2025-10-24 12:51:06.647351,1,30,True,True,False,False,False,False,False,False,1.0
1,4,yousseftest,boss@email.com,3,Telecommunications,,EURO,2025-09-02 12:44:59.175836,1,100,True,True,True,True,True,True,True,True,1.0
2,5,youssef Test,boss@email.com,2,Construction Materials,,USD,2025-09-28 16:16:00.980568,1,50,True,True,True,False,False,False,False,True,NaN

In [12]:
def cleanup_bplan_data(keep_ids=[4, 5, 7]):
    """
    Delete all rows from tables with bplan_id where bplan_id is NOT in the keep list
    """
    print(f"üßπ Starting cleanup - keeping only bplan_id in {keep_ids}")

    # Get all tables with bplan_id column
    bplan_tables_query = """
    SELECT table_name
    FROM information_schema.columns
    WHERE table_schema = 'public'
    AND column_name = 'bplan_id'
    ORDER BY table_name;
    """

    columns, tables_result = run_query(bplan_tables_query)
    tables_to_clean = [row[0] for row in tables_result]

    print(f"üìã Found {len(tables_to_clean)} tables with bplan_id: {tables_to_clean}")

    deletion_summary = {}

    for table in tables_to_clean:
        try:
            # Count records before deletion
            count_before_query = f"SELECT COUNT(*) FROM public.{table}"
            _, count_before_result = run_query(count_before_query)
            count_before = count_before_result[0][0]

            # Count records to keep
            count_keep_query = f"SELECT COUNT(*) FROM public.{table} WHERE bplan_id IN %s"
            _, count_keep_result = run_query(count_keep_query, (tuple(keep_ids),))
            count_keep = count_keep_result[0][0]

            # Delete records NOT in keep list
            delete_query = f"DELETE FROM public.{table} WHERE bplan_id NOT IN %s"
            result = run_query(delete_query, (tuple(keep_ids),), fetch=False)

            # Count records after deletion
            count_after_query = f"SELECT COUNT(*) FROM public.{table}"
            _, count_after_result = run_query(count_after_query)
            count_after = count_after_result[0][0]

            deletion_summary[table] = {
                'before': count_before,
                'keep': count_keep,
                'after': count_after,
                'deleted': count_before - count_after
            }

            print(f"‚úÖ {table}: {count_before} ‚Üí {count_after} records (deleted {count_before - count_after})")

        except Exception as e:
            print(f"‚ùå Error cleaning {table}: {e}")
            deletion_summary[table] = {'error': str(e)}

    return deletion_summary

# Run the cleanup
print("üöÄ Starting database cleanup...")
summary = cleanup_bplan_data([4, 5, 7])

# Display summary
print("\nüìä CLEANUP SUMMARY:")
print("=" * 50)
for table, stats in summary.items():
    if 'error' in stats:
        print(f"{table}: ‚ùå ERROR - {stats['error']}")
    else:
        print(f"{table}: {stats['before']} ‚Üí {stats['after']} records (deleted {stats['deleted']})")

üöÄ Starting database cleanup...
üßπ Starting cleanup - keeping only bplan_id in [4, 5, 7]
üìã Found 34 tables with bplan_id: ['bplan', 'buz_competitor', 'buz_distribution', 'buz_expenses', 'buz_export_plan', 'buz_feasibility', 'buz_feasibility_operating_expenses', 'buz_financial_history', 'buz_fund_details', 'buz_fund_items', 'buz_info', 'buz_mkt_analysis', 'buz_operation_plan', 'buz_oresource', 'buz_other_resource', 'buz_preferences', 'buz_premise', 'buz_premises_doc', 'buz_premises_photo', 'buz_product_services', 'buz_production', 'buz_products', 'buz_resource', 'buz_staff', 'buz_supplier', 'buz_suppliers', 'buz_suppliers_products_info', 'buz_yearly_commission', 'client_info', 'employed', 'expenses', 'experiences', 'partners', 'side_business']
‚úÖ bplan: 3 ‚Üí 3 records (deleted 0)
‚úÖ buz_competitor: 20 ‚Üí 3 records (deleted 17)
‚úÖ buz_distribution: 4 ‚Üí 4 records (deleted 0)
‚úÖ buz_expenses: 0 ‚Üí 0 records (deleted 0)
‚úÖ buz_export_plan: 20 ‚Üí 3 records (deleted 17)
‚úÖ buz_feasibility: 20 ‚Üí 3 records (deleted 17)
‚úÖ buz_feasibility_operating_expenses: 2 ‚Üí 2 records (deleted 0)
‚úÖ buz_financial_history: 5 ‚Üí 5 records (deleted 0)
‚úÖ buz_fund_details: 20 ‚Üí 3 records (deleted 17)
‚úÖ buz_fund_items: 5 ‚Üí 5 records (deleted 0)
‚úÖ buz_info: 20 ‚Üí 3 records (deleted 17)
‚úÖ buz_mkt_analysis: 21 ‚Üí 5 records (deleted 16)
‚úÖ buz_operation_plan: 20 ‚Üí 3 records (deleted 17)
‚úÖ buz_oresource: 0 ‚Üí 0 records (deleted 0)
‚úÖ buz_other_resource: 2 ‚Üí 2 records (deleted 0)
‚úÖ buz_preferences: 660 ‚Üí 99 records (deleted 561)
‚úÖ buz_premise: 5 ‚Üí 4 records (deleted 1)
‚ùå Error cleaning buz_premises_doc: too many values to unpack (expected 2)
‚úÖ buz_premises_photo: 1 ‚Üí 1 records (deleted 0)
‚úÖ buz_product_services: 5 ‚Üí 5 records (deleted 0)
‚úÖ buz_production: 1 ‚Üí 1 records (deleted 0)
‚úÖ buz_products: 0 ‚Üí 0 records (deleted 0)
‚úÖ buz_resource: 2 ‚Üí 2 records (deleted 0)
‚úÖ buz_staff: 3 ‚Üí 3 records (deleted 0)
‚úÖ buz_supplier: 0 ‚Üí 0 records (deleted 0)
‚úÖ buz_suppliers: 3 ‚Üí 3 records (deleted 0)
‚ùå Error cleaning buz_suppliers_products_info: too many values to unpack (expected 2)
‚úÖ buz_yearly_commission: 0 ‚Üí 0 records (deleted 0)
‚úÖ client_info: 20 ‚Üí 3 records (deleted 17)
‚úÖ employed: 20 ‚Üí 3 records (deleted 17)
‚úÖ expenses: 4 ‚Üí 3 records (deleted 1)
‚úÖ experiences: 7 ‚Üí 5 records (deleted 2)
‚úÖ partners: 3 ‚Üí 2 records (deleted 1)
‚úÖ side_business: 20 ‚Üí 3 records (deleted 17)

üìä CLEANUP SUMMARY:
==================================================
bplan: 3 ‚Üí 3 records (deleted 0)
buz_competitor: 20 ‚Üí 3 records (deleted 17)
buz_distribution: 4 ‚Üí 4 records (deleted 0)
buz_expenses: 0 ‚Üí 0 records (deleted 0)
buz_export_plan: 20 ‚Üí 3 records (deleted 17)
buz_feasibility: 20 ‚Üí 3 records (deleted 17)
buz_feasibility_operating_expenses: 2 ‚Üí 2 records (deleted 0)
buz_financial_history: 5 ‚Üí 5 records (deleted 0)
buz_fund_details: 20 ‚Üí 3 records (deleted 17)
buz_fund_items: 5 ‚Üí 5 records (deleted 0)
buz_info: 20 ‚Üí 3 records (deleted 17)
buz_mkt_analysis: 21 ‚Üí 5 records (deleted 16)
buz_operation_plan: 20 ‚Üí 3 records (deleted 17)
buz_oresource: 0 ‚Üí 0 records (deleted 0)
buz_other_resource: 2 ‚Üí 2 records (deleted 0)
buz_preferences: 660 ‚Üí 99 records (deleted 561)
buz_premise: 5 ‚Üí 4 records (deleted 1)
buz_premises_doc: ‚ùå ERROR - too many values to unpack (expected 2)
buz_premises_photo: 1 ‚Üí 1 records (deleted 0)
buz_product_services: 5 ‚Üí 5 records (deleted 0)
buz_production: 1 ‚Üí 1 records (deleted 0)
buz_products: 0 ‚Üí 0 records (deleted 0)
buz_resource: 2 ‚Üí 2 records (deleted 0)
buz_staff: 3 ‚Üí 3 records (deleted 0)
buz_supplier: 0 ‚Üí 0 records (deleted 0)
buz_suppliers: 3 ‚Üí 3 records (deleted 0)
buz_suppliers_products_info: ‚ùå ERROR - too many values to unpack (expected 2)
buz_yearly_commission: 0 ‚Üí 0 records (deleted 0)
client_info: 20 ‚Üí 3 records (deleted 17)
employed: 20 ‚Üí 3 records (deleted 17)
expenses: 4 ‚Üí 3 records (deleted 1)
experiences: 7 ‚Üí 5 records (deleted 2)
partners: 3 ‚Üí 2 records (deleted 1)
side_business: 20 ‚Üí 3 records (deleted 17)

In [13]:
def get_all_distinct_bplan_ids():
    """
    Retrieve all distinct bplan_id values across all tables containing a bplan_id column.
    """
    print("üîç Fetching all distinct bplan_id values across tables...")

    # Find all tables with a bplan_id column
    bplan_tables_query = """
    SELECT table_name
    FROM information_schema.columns
    WHERE table_schema = 'public'
    AND column_name = 'bplan_id'
    ORDER BY table_name;
    """
    _, tables_result = run_query(bplan_tables_query)
    tables = [row[0] for row in tables_result]

    print(f"üìã Found {len(tables)} tables with bplan_id: {tables}")

    all_bplan_ids = set()
    table_counts = {}

    # Loop through each table and collect distinct bplan_id values
    for table in tables:
        try:
            query = f"SELECT DISTINCT bplan_id FROM public.{table}"
            _, result = run_query(query)
            bplan_ids = {row[0] for row in result if row[0] is not None}
            all_bplan_ids.update(bplan_ids)
            table_counts[table] = len(bplan_ids)
            print(f"‚úÖ {table}: {len(bplan_ids)} distinct bplan_id(s) found")

        except Exception as e:
            print(f"‚ùå Error reading {table}: {e}")
            table_counts[table] = f"Error: {e}"

    print("\nüìä SUMMARY OF DISTINCT bplan_id PER TABLE")
    print("=" * 50)
    for table, count in table_counts.items():
        print(f"{table}: {count}")

    print("\nüî¢ TOTAL UNIQUE bplan_id VALUES FOUND:", len(all_bplan_ids))
    print(f"üß© Combined bplan_id values: {sorted(all_bplan_ids)}")

    return all_bplan_ids, table_counts

In [14]:
print("üöÄ Checking distinct bplan_id values...")
all_bplans, table_summary = get_all_distinct_bplan_ids()

üöÄ Checking distinct bplan_id values...
üîç Fetching all distinct bplan_id values across tables...
üìã Found 34 tables with bplan_id: ['bplan', 'buz_competitor', 'buz_distribution', 'buz_expenses', 'buz_export_plan', 'buz_feasibility', 'buz_feasibility_operating_expenses', 'buz_financial_history', 'buz_fund_details', 'buz_fund_items', 'buz_info', 'buz_mkt_analysis', 'buz_operation_plan', 'buz_oresource', 'buz_other_resource', 'buz_preferences', 'buz_premise', 'buz_premises_doc', 'buz_premises_photo', 'buz_product_services', 'buz_production', 'buz_products', 'buz_resource', 'buz_staff', 'buz_supplier', 'buz_suppliers', 'buz_suppliers_products_info', 'buz_yearly_commission', 'client_info', 'employed', 'expenses', 'experiences', 'partners', 'side_business']
‚úÖ bplan: 3 distinct bplan_id(s) found
‚úÖ buz_competitor: 3 distinct bplan_id(s) found
‚úÖ buz_distribution: 1 distinct bplan_id(s) found
‚úÖ buz_expenses: 0 distinct bplan_id(s) found
‚úÖ buz_export_plan: 3 distinct bplan_id(s) found
‚úÖ buz_feasibility: 3 distinct bplan_id(s) found
‚úÖ buz_feasibility_operating_expenses: 1 distinct bplan_id(s) found
‚úÖ buz_financial_history: 2 distinct bplan_id(s) found
‚úÖ buz_fund_details: 3 distinct bplan_id(s) found
‚úÖ buz_fund_items: 1 distinct bplan_id(s) found
‚úÖ buz_info: 3 distinct bplan_id(s) found
‚úÖ buz_mkt_analysis: 3 distinct bplan_id(s) found
‚úÖ buz_operation_plan: 3 distinct bplan_id(s) found
‚úÖ buz_oresource: 0 distinct bplan_id(s) found
‚úÖ buz_other_resource: 1 distinct bplan_id(s) found
‚úÖ buz_preferences: 3 distinct bplan_id(s) found
‚úÖ buz_premise: 2 distinct bplan_id(s) found
‚úÖ buz_premises_doc: 1 distinct bplan_id(s) found
‚úÖ buz_premises_photo: 1 distinct bplan_id(s) found
‚úÖ buz_product_services: 2 distinct bplan_id(s) found
‚úÖ buz_production: 1 distinct bplan_id(s) found
‚úÖ buz_products: 0 distinct bplan_id(s) found
‚úÖ buz_resource: 2 distinct bplan_id(s) found
‚úÖ buz_staff: 2 distinct bplan_id(s) found
‚úÖ buz_supplier: 0 distinct bplan_id(s) found
‚úÖ buz_suppliers: 1 distinct bplan_id(s) found
‚úÖ buz_suppliers_products_info: 1 distinct bplan_id(s) found
‚úÖ buz_yearly_commission: 0 distinct bplan_id(s) found
‚úÖ client_info: 3 distinct bplan_id(s) found
‚úÖ employed: 3 distinct bplan_id(s) found
‚úÖ expenses: 1 distinct bplan_id(s) found
‚úÖ experiences: 3 distinct bplan_id(s) found
‚úÖ partners: 2 distinct bplan_id(s) found
‚úÖ side_business: 3 distinct bplan_id(s) found

üìä SUMMARY OF DISTINCT bplan_id PER TABLE
==================================================
bplan: 3
buz_competitor: 3
buz_distribution: 1
buz_expenses: 0
buz_export_plan: 3
buz_feasibility: 3
buz_feasibility_operating_expenses: 1
buz_financial_history: 2
buz_fund_details: 3
buz_fund_items: 1
buz_info: 3
buz_mkt_analysis: 3
buz_operation_plan: 3
buz_oresource: 0
buz_other_resource: 1
buz_preferences: 3
buz_premise: 2
buz_premises_doc: 1
buz_premises_photo: 1
buz_product_services: 2
buz_production: 1
buz_products: 0
buz_resource: 2
buz_staff: 2
buz_supplier: 0
buz_suppliers: 1
buz_suppliers_products_info: 1
buz_yearly_commission: 0
client_info: 3
employed: 3
expenses: 1
experiences: 3
partners: 2
side_business: 3

üî¢ TOTAL UNIQUE bplan_id VALUES FOUND: 4

TypeError: '<' not supported between instances of 'int' and 'str'

In [17]:
def get_all_unique_bplan_ids():
    """
    Return a sorted list of all distinct bplan_id values across all tables
    containing a bplan_id column.
    Handles mixed int/str types gracefully.
    """
    print("üîç Collecting all distinct bplan_id values across tables...")

    # Find all tables with a bplan_id column
    bplan_tables_query = """
    SELECT table_name
    FROM information_schema.columns
    WHERE table_schema = 'public'
    AND column_name = 'bplan_id'
    ORDER BY table_name;
    """
    _, tables_result = run_query(bplan_tables_query)
    tables = [row[0] for row in tables_result]

    all_bplan_ids = set()

    for table in tables:
        try:
            query = f"SELECT DISTINCT bplan_id FROM public.{table}"
            _, result = run_query(query)
            for row in result:
                val = row[0]
                if val is None:
                    continue
                # Try to cast to int safely
                try:
                    val = int(val)
                except (ValueError, TypeError):
                    val = str(val)
                all_bplan_ids.add(val)
        except Exception as e:
            print(f"‚ùå Error reading {table}: {e}")

    # Sort with consistent type handling
    all_bplan_ids = sorted(all_bplan_ids, key=lambda x: (isinstance(x, str), x))

    print(f"\nüß© Unique bplan_id values across all tables: {all_bplan_ids}")
    print(f"üî¢ Total distinct bplan_id: {len(all_bplan_ids)}")

    return all_bplan_ids

# API

In [30]:
OPENAI_API_KEY = "sk-proj-VwTYgACukwJ7Erp5unKIT3BlbkFJwClnWksCSVGV7qdYmPoE"

In [ ]:
def get_api_content_buz_product_services(client, query_model, bplan_id, lang='en'):
    conn = None
    try:
        db_params = config()
        conn = psycopg2.connect(**db_params)
        cur = conn.cursor()

        # Step 1: Fetch product/services info
        sql = """
        SELECT
            'Product/Service name: ' || product_service_name ||
            ', Description: ' || COALESCE(product_service_description, 'No description')
        AS api_content
        FROM public.buz_product_services
        WHERE bplan_id = %s;
        """
        cur.execute(sql, (bplan_id,))
        rows = cur.fetchall()

        if not rows:
            chatgpt_product_services = ''
        else:
            # Prepare concatenated content
            results = [row[0] for row in rows]
            content_input = " and ".join(results)

            # --- Build multilingual prompt
            base_prompt = """Write a professional description of the products and services offered by
                    this business in about 100 words using a third-person perspective.
                    Combine and rewrite the information below into a coherent, polished paragraph.
                    You MUST ONLY use the information provided. DO NOT invent, add, or create anything that are not explicitly mentioned in the provided content."""
            if lang == "ar":
                base_prompt += " Do it in Arabic."


            query_messages = [
                {"role": "user", "content": base_prompt},
                {"role": "user", "content": content_input}
            ]

            # Step 2: Generate description with GPT
            result = client.chat.completions.create(
                model=query_model,
                messages=query_messages
            )

            chatgpt_product_services = result.choices[0].message.content.replace("'", "''")

        # Step 3: Update export plan
        sql_update = """
        UPDATE public.buz_export_plan
        SET buz_product_services = %s
        WHERE bplan_id = %s;
        """
        cur.execute(sql_update, (chatgpt_product_services, bplan_id))

        cur.close()

    except (Exception, psycopg2.DatabaseError) as error:
        print(f"API PRODUCT/SERVICES ERROR: {error}")
        return (False, error)
    finally:
        if conn is not None:
            conn.commit()
            conn.close()

    return (True, "")

In [31]:
def test_business_profile_generation(bplan_id, lang='en'):
    """
    Test function for business profile generation in notebook
    """
    from openai import OpenAI
    client = OpenAI(api_key=OPENAI_API_KEY)
    query_model = "gpt-4o-mini"

    conn = get_db_connection()
    cur = conn.cursor()

    try:
        # Test the SQL query first
        sql = "SELECT ' brand name is ' || buz_name || ' established since ' || TO_CHAR(buz_est_date, 'DD/MM/YYYY')  || '. Located in ' || buz_address || '. business model ' ||  buz_model as api_content FROM public.buz_info WHERE bplan_id = {};".format(bplan_id)
        print(f"üîç SQL Query: {sql}")

        cur.execute(sql)
        print(f"‚úÖ Found {cur.rowcount} business info records")

        if cur.rowcount == 0:
            print("‚ùå No business info found")
            return None
        else:
            results = cur.fetchall()
            print(f"üìä Raw business info: {results[0][0]}")

            base_prompt = """You are a professional business writer. Create a compelling company overview paragraph (approximately 120-180 words) that:

            1. Presents the company's brand, establishment, and business model
            2. Uses formal third-person business language
            3. Highlights unique value proposition and market positioning
            4. Avoids list-like structures and repetition
            5. Creates a cohesive narrative about the business
            6. Output a single, continuous paragraph only.
            You MUST ONLY use the information provided. DO NOT invent, add, or create anything that are not explicitly mentioned in the provided content."""

            if lang == "ar":
                base_prompt += " Do it in Arabic."

            query_messages = [
                {"role": "user", "content": base_prompt},
                {"role": "user", "content": results[0][0]}
            ]

            print("üöÄ Calling OpenAI API for business profile...")
            result_business_profile = client.chat.completions.create(model=query_model, messages=query_messages)
            chatgpt_business_profile = result_business_profile.choices[0].message.content

            print("‚úÖ Generated business profile:")
            print("=" * 50)
            print(chatgpt_business_profile)
            print("=" * 50)

            # Update the database
            update_sql = "UPDATE public.buz_export_plan SET business_profile = %s WHERE bplan_id = %s;"
            cur.execute(update_sql, (chatgpt_business_profile, bplan_id))
            conn.commit()
            print("‚úÖ Business profile saved to database")

            return {
                "business_profile": chatgpt_business_profile,
                "raw_input": results[0][0]
            }

    except Exception as e:
        print(f"‚ùå Error: {e}")
        import traceback
        traceback.print_exc()
        return None
    finally:
        cur.close()
        conn.close()

# Run the test
test_result = test_business_profile_generation(4, 'en')

‚úÖ Database connected successfully!
üîç SQL Query: SELECT ' brand name is ' || buz_name || ' established since ' || TO_CHAR(buz_est_date, 'DD/MM/YYYY')  || '. Located in ' || buz_address || '. business model ' ||  buz_model as api_content FROM public.buz_info WHERE bplan_id = 4;
‚úÖ Found 1 business info records
üìä Raw business info:  brand name is yousseftest established since 01/10/2025. Located in Tripoli. business model [1]
üöÄ Calling OpenAI API for business profile...
‚úÖ Generated business profile:
==================================================
YoussefTest, established on October 1, 2025, in Tripoli, represents a pioneering force in its industry, distinguished by its innovative approach and commitment to quality. The company operates on a robust business model that prioritizes customer satisfaction and adaptability to market demands. Focusing on delivering exceptional testing solutions, YoussefTest leverages cutting-edge technology and expert insights to enhance performance and reliability in various applications. Its unique value proposition lies in the seamless integration of state-of-the-art methodologies with personalized service, enabling clients to achieve their objectives efficiently. Positioned strategically within the market, YoussefTest not only addresses the evolving needs of its clientele but also sets new industry standards, fostering trust and fostering long-term partnerships while navigating the complexities of today's competitive landscape. Through its dedication to excellence, YoussefTest is poised to redefine the benchmarks of success in its field, ensuring sustained growth and innovation.
==================================================
‚úÖ Business profile saved to database

# testing

In [3]:
show_tables()

                            table_name
0                                Users
1                                bplan
2                       buz_competitor
3                     buz_distribution
4                         buz_expenses
5                      buz_export_plan
6                      buz_feasibility
7   buz_feasibility_operating_expenses
8                buz_financial_history
9                     buz_fund_details
10                      buz_fund_items
11                            buz_info
12                    buz_mkt_analysis
13                  buz_operation_plan
14                       buz_oresource
15                  buz_other_resource
16                     buz_preferences
17                         buz_premise
18                    buz_premises_doc
19                  buz_premises_photo
20                buz_product_services
21                      buz_production
22                        buz_products
23                        buz_resource
24                           buz_staff
25                        buz_supplier
26                       buz_suppliers
27         buz_suppliers_products_info
28               buz_yearly_commission
29                         client_info
30                            employed
31                            expenses
32                         experiences
33                      lst_industries
34                    lst_mkt_channels
35                   lst_nationalities
36                     lst_preferences
37                       lst_relations
38                         lst_sectors
39                            partners
40                       side_business
41                               users

In [7]:
query_to_dataframe('select * from buz_mkt_analysis where bplan_id=4')

,bplan_id,segment_id,segment_name,business_model,segment_percentage,market_channel,age_min,age_max,income_min,income_max,...,location,preferences,industry,company_size,show_age_range,show_income_range,show_gender_percentage,show_education,show_occupation,show_life_stage
0,4,18,fadi,B2C,69.00,"[3, 6, 7, 8]",10,50,500,8000,...,Lille,swimming,Agriculture,None,on,off,off,on,off,on
1,4,10,Kaza,B2C,30.00,"[2, 8]",25,30,500,8000,...,Paris,,Agriculture,None,on,off,on,on,off,on
2,4,4,plan,B2B,1.00,[],20,80,500,8000,...,Paris,big companies,Technology,None,off,off,off,off,off,off